$primary: #545871;
$secondary: #9597A6;
$background: #F7ECEB;
$accent: #E6DBDA;
$highlighted: #F0F1F7;
$selected: #EBD0CE;
$white: #FFFFFF;
$error: #B8817D;

$fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
$regular: 350;

$input-height: 50px;
