@import "./assets.scss";

.footer-button {
    align-self: center;
    justify-self: center;

    input {
        width: 160px;
        height: 56px;
        border-radius: 100px;
    }
}

.first {
    grid-area: first;
    font-weight: lighter;

    p {
        font-size: 24px;
        color: $secondary;

        span {
            color: $primary;
        }

        span:hover {
            cursor: pointer;
        }
    }
}

.second {
    grid-area: second;
}

.button {
    input {
        font-family: $fonts;
        font-size: 24px;
        font-weight: lighter;
        background-color: $white;
        border: 1px solid $primary;
    }

    input:hover {
        cursor: pointer;
    }

    input:focus {
        outline: none;
    }
}

.primary {
    input {
        background-color: $primary;
        color: $white;
    }
}

.info input {
    height: 21px;
    width: 30px;
    border: 1.2px solid $primary;
    opacity: .8;
    border-radius: 3px;
}

.info::after {
    content: url(../assets/dots.png);
    position: absolute;
    bottom: 6px;
    left: 6.5px;
}

.info:hover {
    cursor: pointer;
}
