.parent-form {
    padding: 0 17vw;
    display: grid;
    grid: 
    "cancel cancel  . .  submit submit" 1fr 
    "first first  last last  dob dob" 1fr 
    "age .  eyes hair disorders disorders" 1fr 
    "height . eyes . disorders disorders" 1fr  
    "weight . . . . ." 1fr 
    / 11vw 11vw 11vw 11vw 11vw 11vw;


    div {
        //width: 90%;
    }

    .input-button {
        justify-self: center;
        padding: 10px 0 20px 0;
        
        input {
            font-size: 15px;
            padding: 7px;
            background-color: white;
        }

        input:hover {
            background-color: gainsboro;
        }
    }

    .input-text {
        label {
            margin-right: 50%;
            font-size: 14px;
        }
        input {
            min-width: 50%;
            max-width: 80%;
        }
    }

    .input-select {
        label {
            margin-right: 50%; 
            font-size: 14px;
        }

        select {
            min-width: 80%;
        }
    }
    
}
