.log-in {
    margin: 40px 128px 0 128px;

    display: grid;
    grid: 
    "user user user" 1fr
    "pass . confirm" 1fr
    / auto 32px auto;
}

.sign-up {
    margin: 40px 128px 0 128px;

    display: grid;
    grid:
    "email email email email email email" 1fr
    "street street street street street street" 1fr
    "city city . state . zip" 1fr
    /1fr 1fr 32px 1fr 32px 1fr;
}