@import './assets.scss';

.sidebar {
    height: 100vh;
    position: fixed;
    grid-area: side;

    background-color: $primary;
    z-index: 10;
    
    div {
        img {
            height: 22vw;
            width: 22vw;
            padding: 90px 5.6vw;
        }
    }
}